//Font
$font-family-default: Georgia, sans-serif !default;
$font-family-heading: Georgia, sans-serif !default;

$font-size-body: 1.4rem;

//Width container
$page-width: 1040px !default;

//Gutters width
$gutter-width: 24px !default;

//Variable color in theme
$color-default: #19bfbf !default;
$color-primary: #19bfbf !default;
$border-color: #ebebeb !default;
$color-text: #666;

$color-link: #333;
$color-link-hover: $color-default;



//Menu


//Header


//Footer


//Product Item